# Import statements

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

# Get data

## load datasets
- download from https://www.kaggle.com/meetnagadia/share-price-of-top-electric-car-company

In [2]:
def loadData(x):
    path='./data/'+x+'.csv'
    x=pd.read_csv(path).set_index('Date')
    return x

In [3]:
Volkswagen=loadData('Volkswagen')
bmw=loadData('bmw')
tesla=loadData('tesla')
nissian=loadData('nissian')
honda=loadData('honda')

In [4]:
Volkswagen

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2016-08-24,123.050003,123.900002,121.150002,122.650002,107.715622,721191
2016-08-25,122.050003,122.400002,119.449997,120.400002,105.739594,1002019
2016-08-26,120.699997,124.250000,120.550003,124.199997,109.076889,1262102
2016-08-29,123.199997,124.900002,121.849998,122.400002,107.496063,589692
2016-08-30,123.250000,125.250000,122.800003,124.800003,109.603836,964915
...,...,...,...,...,...,...
2021-08-17,202.500000,202.649994,200.149994,200.300003,200.300003,733392
2021-08-18,201.100006,201.300003,195.779999,198.539993,198.539993,1325533
2021-08-19,194.199997,195.800003,192.600006,194.839996,194.839996,1197275
2021-08-20,193.360001,193.360001,190.500000,192.860001,192.860001,1161894
2021-08-23,196.000000,196.000000,193.500000,194.539993,194.539993,646747

## SP500和CSI300
方法参见：https://zhuanlan.zhihu.com/p/146726815

In [12]:
# sp500 = pdr.DataReader(name='^GSPC',
#                        data_source='yahoo',
#                        start='2016-08-24',
#                        end='2021-08-23')
# sp500.to_csv('./data/sp500.csv')

In [9]:
sp500 = loadData('sp500')
sp500

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-08-23,2193.419922,2186.800049,2187.810059,2186.899902,3041490000,2186.899902
2016-08-24,2186.659912,2171.250000,2185.090088,2175.439941,3148280000,2175.439941
2016-08-25,2179.000000,2169.739990,2173.290039,2172.469971,2969310000,2172.469971
2016-08-26,2187.939941,2160.389893,2175.100098,2169.040039,3342340000,2169.040039
2016-08-29,2183.479980,2170.189941,2170.189941,2180.379883,2654780000,2180.379883
...,...,...,...,...,...,...
2021-08-17,4462.120117,4417.830078,4462.120117,4448.080078,2884000000,4448.080078
2021-08-18,4454.319824,4397.589844,4440.939941,4400.270020,2965210000,4400.270020
2021-08-19,4418.609863,4367.729980,4382.439941,4405.799805,3120840000,4405.799805
2021-08-20,4444.350098,4406.799805,4410.560059,4441.669922,2867770000,4441.669922
2021-08-23,4489.879883,4450.290039,4450.290039,4479.529785,2965520000,4479.529785

In [84]:
# import tushare as ts

# CSI300 = ts.get_k_data('hs300', start='2016-08-24',
#                        end='2021-08-23').reset_index(drop=True)
# CSI300

本接口即将停止更新，请尽快使用Pro版接口：https://waditu.com/document/2

            date     open    close     high      low       volume   code
0     2016-08-24  3341.93  3329.86  3348.13  3323.73   81191429.0  hs300
1     2016-08-25  3314.08  3308.97  3315.08  3279.81  100589153.0  hs300
2     2016-08-26  3312.50  3307.09  3328.95  3301.74   81530691.0  hs300
3     2016-08-29  3306.57  3307.78  3315.08  3297.07   77036333.0  hs300
4     2016-08-30  3310.32  3311.99  3325.12  3304.60   75725987.0  hs300
...          ...      ...      ...      ...      ...          ...    ...
1211  2021-08-17  4935.00  4837.40  4967.56  4823.39  187573472.0  hs300
1212  2021-08-18  4838.47  4894.24  4909.54  4818.90  197474378.0  hs300
1213  2021-08-19  4886.56  4862.14  4893.47  4839.57  201711719.0  hs300
1214  2021-08-20  4817.49  4769.27  4835.15  4720.83  177635810.0  hs300
1215  2021-08-23  4777.73  4835.88  4843.82  4764.01  167579093.0  hs300

[1216 rows x 7 columns]

In [85]:
# CSI300 = CSI300.iloc[:, :-1]
# for name in CSI300.columns:
#     CSI300 = CSI300.rename(columns={name: name.title()})

In [86]:
# csi300 = CSI300.copy().set_index('Date')
# csi300

               Open    Close     High      Low       Volume
Date
2016-08-24  3341.93  3329.86  3348.13  3323.73   81191429.0
2016-08-25  3314.08  3308.97  3315.08  3279.81  100589153.0
2016-08-26  3312.50  3307.09  3328.95  3301.74   81530691.0
2016-08-29  3306.57  3307.78  3315.08  3297.07   77036333.0
2016-08-30  3310.32  3311.99  3325.12  3304.60   75725987.0
...             ...      ...      ...      ...          ...
2021-08-17  4935.00  4837.40  4967.56  4823.39  187573472.0
2021-08-18  4838.47  4894.24  4909.54  4818.90  197474378.0
2021-08-19  4886.56  4862.14  4893.47  4839.57  201711719.0
2021-08-20  4817.49  4769.27  4835.15  4720.83  177635810.0
2021-08-23  4777.73  4835.88  4843.82  4764.01  167579093.0

[1216 rows x 5 columns]

In [87]:
# csi300.to_csv('./data/CSI300.csv')

In [10]:
CSI300 = loadData('CSI300')
CSI300

               Open    Close     High      Low       Volume
Date
2016-08-24  3341.93  3329.86  3348.13  3323.73   81191429.0
2016-08-25  3314.08  3308.97  3315.08  3279.81  100589153.0
2016-08-26  3312.50  3307.09  3328.95  3301.74   81530691.0
2016-08-29  3306.57  3307.78  3315.08  3297.07   77036333.0
2016-08-30  3310.32  3311.99  3325.12  3304.60   75725987.0
...             ...      ...      ...      ...          ...
2021-08-17  4935.00  4837.40  4967.56  4823.39  187573472.0
2021-08-18  4838.47  4894.24  4909.54  4818.90  197474378.0
2021-08-19  4886.56  4862.14  4893.47  4839.57  201711719.0
2021-08-20  4817.49  4769.27  4835.15  4720.83  177635810.0
2021-08-23  4777.73  4835.88  4843.82  4764.01  167579093.0

[1216 rows x 5 columns]

# Preparation

In [11]:
# Column Name Change
def name_change(df, df_name):
    for name in df.columns:
        df = df.rename(columns = {name: (df_name +"_"+ name)})
    return df

In [12]:
Volkswagen = name_change(Volkswagen, "Volkswagen")
bmw = name_change(bmw, "bmw")
tesla = name_change(tesla, "tesla")
nissian = name_change(nissian, "nissian")
honda = name_change(honda, "honda")
sp500 = name_change(sp500, "SP500")
CSI300 = name_change(CSI300, "CSI300")

In [13]:
CSI300

            CSI300_Open  CSI300_Close  CSI300_High  CSI300_Low  CSI300_Volume
Date
2016-08-24      3341.93       3329.86      3348.13     3323.73     81191429.0
2016-08-25      3314.08       3308.97      3315.08     3279.81    100589153.0
2016-08-26      3312.50       3307.09      3328.95     3301.74     81530691.0
2016-08-29      3306.57       3307.78      3315.08     3297.07     77036333.0
2016-08-30      3310.32       3311.99      3325.12     3304.60     75725987.0
...                 ...           ...          ...         ...            ...
2021-08-17      4935.00       4837.40      4967.56     4823.39    187573472.0
2021-08-18      4838.47       4894.24      4909.54     4818.90    197474378.0
2021-08-19      4886.56       4862.14      4893.47     4839.57    201711719.0
2021-08-20      4817.49       4769.27      4835.15     4720.83    177635810.0
2021-08-23      4777.73       4835.88      4843.82     4764.01    167579093.0

[1216 rows x 5 columns]

In [14]:
def mergeData(datas):
    total_d = pd.DataFrame()
    for data in datas:
        if total_d.shape[0]==0:
            total_d = data
        else:
            total_d = total_d.join(data)
    return total_d

In [15]:
DATA = mergeData([bmw, Volkswagen, tesla, nissian, honda, sp500, CSI300])
DATA

,bmw_Open,bmw_High,bmw_Low,bmw_Close,bmw_Adj Close,bmw_Volume,Volkswagen_Open,Volkswagen_High,Volkswagen_Low,Volkswagen_Close,...,SP500_Low,SP500_Open,SP500_Close,SP500_Volume,SP500_Adj Close,CSI300_Open,CSI300_Close,CSI300_High,CSI300_Low,CSI300_Volume
Date,,,,,,,,,,,,,,,,,,,,,
2016-08-24,77.250000,78.029999,76.690002,77.510002,61.236576,971047,123.050003,123.900002,121.150002,122.650002,...,2171.250000,2185.090088,2175.439941,3.148280e+09,2175.439941,3341.93,3329.86,3348.13,3323.73,81191429.0
2016-08-25,76.800003,76.839996,75.599998,76.220001,60.217419,1490961,122.050003,122.400002,119.449997,120.400002,...,2169.739990,2173.290039,2172.469971,2.969310e+09,2172.469971,3314.08,3308.97,3315.08,3279.81,100589153.0
2016-08-26,76.099998,77.290001,75.820000,77.230003,61.015369,1476195,120.699997,124.250000,120.550003,124.199997,...,2160.389893,2175.100098,2169.040039,3.342340e+09,2169.040039,3312.50,3307.09,3328.95,3301.74,81530691.0
2016-08-29,76.709999,77.230003,76.070000,76.879997,60.738838,708241,123.199997,124.900002,121.849998,122.400002,...,2170.189941,2170.189941,2180.379883,2.654780e+09,2180.379883,3306.57,3307.78,3315.08,3297.07,77036333.0
2016-08-30,77.440002,78.559998,77.110001,78.459999,61.987129,1213735,123.250000,125.250000,122.800003,124.800003,...,2170.409912,2179.449951,2176.120117,3.006800e+09,2176.120117,3310.32,3311.99,3325.12,3304.60,75725987.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-17,81.000000,81.199997,80.190002,80.349998,80.349998,1033666,202.500000,202.649994,200.149994,200.300003,...,4417.830078,4462.120117,4448.080078,2.884000e+09,4448.080078,4935.00,4837.40,4967.56,4823.39,187573472.0
2021-08-18,80.519997,80.519997,78.940002,79.849998,79.849998,1366350,201.100006,201.300003,195.779999,198.539993,...,4397.589844,4440.939941,4400.270020,2.965210e+09,4400.270020,4838.47,4894.24,4909.54,4818.90,197474378.0
2021-08-19,77.349998,78.449997,77.080002,77.430000,77.430000,1743934,194.199997,195.800003,192.600006,194.839996,...,4367.729980,4382.439941,4405.799805,3.120840e+09,4405.799805,4886.56,4862.14,4893.47,4839.57,201711719.0
2021-08-20,77.000000,77.089996,75.410004,76.980003,76.980003,1731505,193.360001,193.360001,190.500000,192.860001,...,4406.799805,4410.560059,4441.669922,2.867770e+09,4441.669922,4817.49,4769.27,4835.15,4720.83,177635810.0
2021-08-23,78.239998,78.480003,76.570000,76.800003,76.800003,1640966,196.000000,196.000000,193.500000,194.539993,...,4450.290039,4450.290039,4479.529785,2.965520e+09,4479.529785,4777.73,4835.88,4843.82,4764.01,167579093.0

## Find the better way to fill NaN

In [16]:
DATA[DATA.isna().any(axis=1)]

,bmw_Open,bmw_High,bmw_Low,bmw_Close,bmw_Adj Close,bmw_Volume,Volkswagen_Open,Volkswagen_High,Volkswagen_Low,Volkswagen_Close,...,SP500_Low,SP500_Open,SP500_Close,SP500_Volume,SP500_Adj Close,CSI300_Open,CSI300_Close,CSI300_High,CSI300_Low,CSI300_Volume
Date,,,,,,,,,,,,,,,,,,,,,
2016-09-05,78.970001,79.059998,78.239998,78.239998,61.813320,843916,124.699997,125.949997,124.349998,124.849998,...,NaN,NaN,NaN,NaN,NaN,3321.01,3319.68,3338.42,3314.63,78292477.0
2016-09-15,74.910004,75.669998,74.139999,75.300003,59.490589,1294409,122.099998,123.650002,120.900002,122.400002,...,2122.360107,2125.360107,2147.260010,3.373720e+09,2147.260010,NaN,NaN,NaN,NaN,NaN
2016-09-16,75.250000,75.500000,73.220001,73.419998,58.005291,2855151,121.849998,122.650002,117.800003,117.949997,...,2131.199951,2146.479980,2139.159912,5.014360e+09,2139.159912,NaN,NaN,NaN,NaN,NaN
2016-09-19,74.050003,74.639999,73.809998,73.970001,58.439819,1231305,119.500000,120.099998,118.699997,119.500000,...,2135.909912,2143.989990,2139.120117,3.163000e+09,2139.120117,3242.74,3263.12,3264.90,3242.74,58831082.0
2016-09-22,75.150002,76.959999,74.919998,76.279999,60.264820,1961060,119.800003,122.199997,119.400002,121.000000,...,2170.939941,2170.939941,2177.179932,3.552830e+09,2177.179932,3281.47,3291.12,3303.20,3277.98,75753542.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-14,94.750000,95.169998,94.190002,94.790001,94.790001,1093509,234.000000,234.500000,230.100006,230.100006,...,4234.069824,4248.310059,4255.149902,3.612050e+09,4255.149902,NaN,NaN,NaN,NaN,NaN
2021-07-05,89.820000,90.080002,88.959999,89.400002,89.400002,595548,211.649994,212.000000,208.550003,211.199997,...,NaN,NaN,NaN,NaN,NaN,5073.78,5085.79,5098.23,5048.00,131211589.0
2021-07-22,84.779999,85.470001,83.669998,83.760002,83.760002,710635,212.000000,213.600006,208.399994,208.800003,...,4350.060059,4361.270020,4367.479980,2.907910e+09,4367.479980,5150.39,5151.75,5171.21,5137.88,185556864.0
2021-07-23,84.180000,86.000000,84.110001,85.550003,85.550003,811596,206.000000,211.050003,205.449997,208.600006,...,4381.200195,4381.200195,4411.790039,3.490730e+09,4411.790039,5145.43,5089.23,5145.43,5080.00,216536847.0
2021-08-09,82.029999,82.070000,81.169998,81.709999,81.709999,824264,206.399994,206.800003,203.399994,205.350006,...,4424.740234,4437.770020,4432.350098,2.779880e+09,4432.350098,4890.26,4985.56,5002.89,4884.04,182436871.0

### Take 10 columns randomly to measure different methods

In [17]:
cols = DATA.sample(n=10, frac=None, replace=False, weights=None, random_state=32, axis=1).columns
errdf = pd.DataFrame(index=[
    'Simple Imputer', 'linear', 'nearest', 'zero', 'slinear', 'quadratic',
    'cubic', 'previous', 'next'],
                     columns=[cols])
errdf

,honda_Low,SP500_High,SP500_Close,honda_Close,honda_Adj Close,tesla_Close,CSI300_Open,tesla_Open,tesla_Adj Close,bmw_Open
Simple Imputer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
linear,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nearest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
slinear,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
quadratic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cubic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
previous,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
next,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer
from scipy.interpolate import interp1d

def m_s_e(name):
    df_orig0 = pd.DataFrame(DATA[name].dropna())
    df0=df_orig0.sample(n=int(df_orig0.shape[0]*0.8), frac=None, replace=False, weights=None, random_state=41, axis=0).rename(columns={name: 'value'})
    dfdf = mergeData([df_orig0,df0])
    df_orig = pd.DataFrame(dfdf[name]).rename(columns={name: 'value'})
    df = pd.DataFrame(dfdf['value'])

    # Simple Imputer
    df_imput = SimpleImputer().fit_transform(df)
    err_imp = np.round(mean_squared_error(df_orig['value'], df_imput), 2)
    errdf.loc['Simple Imputer',name]=err_imp

    # Interpolation
    parameters = ['linear', 'nearest', 'zero', 'slinear', 'quadratic', 'cubic', 'previous', 'next']
    df['rownum'] = np.arange(df.shape[0])
    df_nona = df.dropna(subset=['value'])
    for param in parameters:
        f = interp1d(df_nona['rownum'], df_nona['value'], kind=param)
        df[param + '_fill'] = f(df['rownum'])
        error = np.round(mean_squared_error(df_orig['value'], df[param + '_fill']), 2)
        errdf.loc[param,name]=error
    return errdf

Interpolation References:
- https://docs.scipy.org/doc/scipy/reference/tutorial/interpolate.html
- https://docs.scipy.org/doc/scipy/reference/interpolate.html

In [19]:
for name in cols:
    m_s_e(name)
errdf

,honda_Low,SP500_High,SP500_Close,honda_Close,honda_Adj Close,tesla_Close,CSI300_Open,tesla_Open,tesla_Adj Close,bmw_Open
Simple Imputer,1.9,67360.05,67009.95,1.9,1.9,11960.28,86523.97,12098.58,11960.28,24.68
linear,0.01,68.38,152.71,0.01,0.01,20.87,306.08,24.51,20.87,0.17
nearest,0.03,156.36,292.04,0.03,0.03,38.39,474.54,38.01,38.39,0.29
zero,0.04,159.27,300.37,0.04,0.04,38.4,509.66,42.01,38.4,0.38
slinear,0.01,68.38,152.71,0.01,0.01,20.87,306.08,24.51,20.87,0.17
quadratic,0.02,95.12,245.92,0.02,0.02,18.76,437.1,30.7,18.76,0.2
cubic,0.02,98.89,269.84,0.02,0.02,19.18,476.34,32.8,19.18,0.21
previous,0.04,159.27,300.37,0.04,0.04,38.4,509.66,42.01,38.4,0.38
next,0.04,198.18,249.62,0.04,0.04,52.02,603.78,54.93,52.02,0.29

In [20]:
for n in errdf.columns:
    print(errdf[n].astype(float).idxmin())

linear
linear
linear
linear
linear
quadratic
linear
linear
quadratic
linear

### So choose 'Linear Interpolation'

In [21]:
def linear_inter(df, col_name):
    df['rownum'] = np.arange(df.shape[0])
    df_nona = df.dropna(subset = [col_name])
    f = interp1d(df_nona['rownum'], df_nona[col_name])
    df[col_name] = f(df['rownum'])
    return df

In [22]:
DATA_L = DATA.copy()
DATA_L

,bmw_Open,bmw_High,bmw_Low,bmw_Close,bmw_Adj Close,bmw_Volume,Volkswagen_Open,Volkswagen_High,Volkswagen_Low,Volkswagen_Close,...,SP500_Low,SP500_Open,SP500_Close,SP500_Volume,SP500_Adj Close,CSI300_Open,CSI300_Close,CSI300_High,CSI300_Low,CSI300_Volume
Date,,,,,,,,,,,,,,,,,,,,,
2016-08-24,77.250000,78.029999,76.690002,77.510002,61.236576,971047,123.050003,123.900002,121.150002,122.650002,...,2171.250000,2185.090088,2175.439941,3.148280e+09,2175.439941,3341.93,3329.86,3348.13,3323.73,81191429.0
2016-08-25,76.800003,76.839996,75.599998,76.220001,60.217419,1490961,122.050003,122.400002,119.449997,120.400002,...,2169.739990,2173.290039,2172.469971,2.969310e+09,2172.469971,3314.08,3308.97,3315.08,3279.81,100589153.0
2016-08-26,76.099998,77.290001,75.820000,77.230003,61.015369,1476195,120.699997,124.250000,120.550003,124.199997,...,2160.389893,2175.100098,2169.040039,3.342340e+09,2169.040039,3312.50,3307.09,3328.95,3301.74,81530691.0
2016-08-29,76.709999,77.230003,76.070000,76.879997,60.738838,708241,123.199997,124.900002,121.849998,122.400002,...,2170.189941,2170.189941,2180.379883,2.654780e+09,2180.379883,3306.57,3307.78,3315.08,3297.07,77036333.0
2016-08-30,77.440002,78.559998,77.110001,78.459999,61.987129,1213735,123.250000,125.250000,122.800003,124.800003,...,2170.409912,2179.449951,2176.120117,3.006800e+09,2176.120117,3310.32,3311.99,3325.12,3304.60,75725987.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-17,81.000000,81.199997,80.190002,80.349998,80.349998,1033666,202.500000,202.649994,200.149994,200.300003,...,4417.830078,4462.120117,4448.080078,2.884000e+09,4448.080078,4935.00,4837.40,4967.56,4823.39,187573472.0
2021-08-18,80.519997,80.519997,78.940002,79.849998,79.849998,1366350,201.100006,201.300003,195.779999,198.539993,...,4397.589844,4440.939941,4400.270020,2.965210e+09,4400.270020,4838.47,4894.24,4909.54,4818.90,197474378.0
2021-08-19,77.349998,78.449997,77.080002,77.430000,77.430000,1743934,194.199997,195.800003,192.600006,194.839996,...,4367.729980,4382.439941,4405.799805,3.120840e+09,4405.799805,4886.56,4862.14,4893.47,4839.57,201711719.0
2021-08-20,77.000000,77.089996,75.410004,76.980003,76.980003,1731505,193.360001,193.360001,190.500000,192.860001,...,4406.799805,4410.560059,4441.669922,2.867770e+09,4441.669922,4817.49,4769.27,4835.15,4720.83,177635810.0
2021-08-23,78.239998,78.480003,76.570000,76.800003,76.800003,1640966,196.000000,196.000000,193.500000,194.539993,...,4450.290039,4450.290039,4479.529785,2.965520e+09,4479.529785,4777.73,4835.88,4843.82,4764.01,167579093.0

In [23]:
for col in DATA_L.columns:
    linear_inter(DATA_L,col)

In [25]:
DATA_L = DATA_L.iloc[:,:-1]
DATA_L

,bmw_Open,bmw_High,bmw_Low,bmw_Close,bmw_Adj Close,bmw_Volume,Volkswagen_Open,Volkswagen_High,Volkswagen_Low,Volkswagen_Close,...,SP500_Low,SP500_Open,SP500_Close,SP500_Volume,SP500_Adj Close,CSI300_Open,CSI300_Close,CSI300_High,CSI300_Low,CSI300_Volume
Date,,,,,,,,,,,,,,,,,,,,,
2016-08-24,77.250000,78.029999,76.690002,77.510002,61.236576,971047.0,123.050003,123.900002,121.150002,122.650002,...,2171.250000,2185.090088,2175.439941,3.148280e+09,2175.439941,3341.93,3329.86,3348.13,3323.73,81191429.0
2016-08-25,76.800003,76.839996,75.599998,76.220001,60.217419,1490961.0,122.050003,122.400002,119.449997,120.400002,...,2169.739990,2173.290039,2172.469971,2.969310e+09,2172.469971,3314.08,3308.97,3315.08,3279.81,100589153.0
2016-08-26,76.099998,77.290001,75.820000,77.230003,61.015369,1476195.0,120.699997,124.250000,120.550003,124.199997,...,2160.389893,2175.100098,2169.040039,3.342340e+09,2169.040039,3312.50,3307.09,3328.95,3301.74,81530691.0
2016-08-29,76.709999,77.230003,76.070000,76.879997,60.738838,708241.0,123.199997,124.900002,121.849998,122.400002,...,2170.189941,2170.189941,2180.379883,2.654780e+09,2180.379883,3306.57,3307.78,3315.08,3297.07,77036333.0
2016-08-30,77.440002,78.559998,77.110001,78.459999,61.987129,1213735.0,123.250000,125.250000,122.800003,124.800003,...,2170.409912,2179.449951,2176.120117,3.006800e+09,2176.120117,3310.32,3311.99,3325.12,3304.60,75725987.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-17,81.000000,81.199997,80.190002,80.349998,80.349998,1033666.0,202.500000,202.649994,200.149994,200.300003,...,4417.830078,4462.120117,4448.080078,2.884000e+09,4448.080078,4935.00,4837.40,4967.56,4823.39,187573472.0
2021-08-18,80.519997,80.519997,78.940002,79.849998,79.849998,1366350.0,201.100006,201.300003,195.779999,198.539993,...,4397.589844,4440.939941,4400.270020,2.965210e+09,4400.270020,4838.47,4894.24,4909.54,4818.90,197474378.0
2021-08-19,77.349998,78.449997,77.080002,77.430000,77.430000,1743934.0,194.199997,195.800003,192.600006,194.839996,...,4367.729980,4382.439941,4405.799805,3.120840e+09,4405.799805,4886.56,4862.14,4893.47,4839.57,201711719.0
2021-08-20,77.000000,77.089996,75.410004,76.980003,76.980003,1731505.0,193.360001,193.360001,190.500000,192.860001,...,4406.799805,4410.560059,4441.669922,2.867770e+09,4441.669922,4817.49,4769.27,4835.15,4720.83,177635810.0
2021-08-23,78.239998,78.480003,76.570000,76.800003,76.800003,1640966.0,196.000000,196.000000,193.500000,194.539993,...,4450.290039,4450.290039,4479.529785,2.965520e+09,4479.529785,4777.73,4835.88,4843.82,4764.01,167579093.0

In [26]:
DATA_L.isna().any()

bmw_Open                False
bmw_High                False
bmw_Low                 False
bmw_Close               False
bmw_Adj Close           False
bmw_Volume              False
Volkswagen_Open         False
Volkswagen_High         False
Volkswagen_Low          False
Volkswagen_Close        False
Volkswagen_Adj Close    False
Volkswagen_Volume       False
tesla_Open              False
tesla_High              False
tesla_Low               False
tesla_Close             False
tesla_Adj Close         False
tesla_Volume            False
nissian_Open            False
nissian_High            False
nissian_Low             False
nissian_Close           False
nissian_Adj Close       False
nissian_Volume          False
honda_Open              False
honda_High              False
honda_Low               False
honda_Close             False
honda_Adj Close         False
honda_Volume            False
SP500_High              False
SP500_Low               False
SP500_Open              False
SP500_Close             False
SP500_Volume            False
SP500_Adj Close         False
CSI300_Open             False
CSI300_Close            False
CSI300_High             False
CSI300_Low              False
CSI300_Volume           False
dtype: bool